form {
    width: 100%;
}

ngb-pagination {
    margin-bottom: -1rem;
}

.header-search{
        background: #f6f7f8;
    padding: 20px;
    margin: 0px;
}

.btn-primary{
	color: #fff;

	&:hover{

		color:#fff

	}
}

