<app-top></app-top>



<div class="main">

	<div class="container">

		<h2>Formulario de <br>
		<span>Registro</span></h2>


		<form>

			<div class="row">

				<div class="col-md-6">
				    <label for="name">
				      Tipo de proveedor
				    </label>
				    <select formControlName="tipo">
				    	<option>Fabricantes Nacionales (personas naturales, jurídicas y ESALES)</option>
				    </select>
			
				</div>

			</div>	

			<hr>

			<strong>Datos de la empresa</strong><br>

			<div class="row">

				
				<div class="col-md-6">
					<label for="nombre">Nombre</label>
					<input id="nombre" type="text" formControlName="nombre" placeholder="Nombre de la empresa" required>
				</div>

				<div class="col-md-6">
					<label for="archivo">Certificado de matrícula mercantil vigente al 2020 </label>
					<input type="file" formControlName="archivo">
				</div>

			</div>

			<div class="row">

				
				<div class="col-md-6">
					<label for="telefono">Teléfono</label>
					<input  type="text" formControlName="telefono" placeholder="Teléfono de la empresa" required>
				</div>

				<div class="col-md-6">
					<label for="archivo2">Fotocopia de la cédula representante legal de la empresa </label>
					<input type="file" formControlName="archivo2">
				</div>

			</div>

			<div class="row">

				
				<div class="col-md-6">
					<label for="rut">RUT</label>
					<input  type="text" formControlName="rut" placeholder="RUT de la empresa" required>
				</div>

				<div class="col-md-6">
					<label for="archivo3">Certificado de pago parafiscal </label>
					<input type="file" formControlName="archivo3">
				</div>

			</div>

			<div class="row">

				
				<div class="col-md-6">
					<label for="archivo4">RUP o estados financieros del último año (2019) </label>
					<input type="file" formControlName="archivo4">
				</div>

				

			</div>

			<hr>

			<strong>Datos producto</strong><br>

			<div class="row">

				
				<div class="col-md-6">
					<label for="producto">Producto</label>
					<select formControlName="producto">
				    	<option>Bata manga larga antifluído</option>
				    </select>
				</div>

				<div class="col-md-3">
					<label for="cantidad">Cantidad </label>
					<input  type="text" formControlName="cantidad" placeholder="Cantidad total" required>
				</div>

				<div class="col-md-3">
					<label for="lote">Lote</label>
					<input  type="text" formControlName="lote" placeholder="Código del lote" required>
				</div>

			</div>

			<div class="row">

				
				<div class="col-md-6">
					<label for="fabricante">Nombre del fabricante</label>
					<input  type="text" formControlName="fabricante" placeholder="Nombre del fabricante del producto" required>
				</div>

				

				<div class="col-md-6">
					<label for="telefono">Teléfono</label>
					<input  type="text" formControlName="telefono" placeholder="Teléfono del fabricante del producto" required>
				</div>

			</div>

			<div class="row">

				
				<div class="col-md-6">
					<label for="archivo5">Registro INVIMA o "Autoevaluación INVIMA" </label>
					<input type="file" formControlName="archivo5">
					<span class="nota">(No requieren INVIMA Batas, Gorros, Polainas y Gafas)</span>
				</div>
				<div class="col-md-6">
					<label for="archivo6">Ficha de técnica del producto </label>
					<input type="file" formControlName="archivo6">
					<span class="nota">(Ficha de técnica del producto incluyendo fotografías del mismo)</span>
				</div>

				

			</div>

			<div class="row">

				<div class="col-md-6">
					<label for="archivo7">Certificado de instituciones </label>
					<input type="file" formControlName="archivo7">
					<span class="nota">(Certificado de instituciones que hayan usado el producto)</span>
				</div>

			</div>

			<hr>

			<div class="row">

				
				<div class="col-6">
					<button class="button btn_agregar">Agregar producto</button>
				</div>
				<div class="col-6">
					<button class="button btn_enviar" type="submit">Enviar</button>
				</div>

				

			</div>



		</form>


	</div>

	<app-footer></app-footer>

</div>

