

      <div class="header_admin">
			<div class="row">

      		<div class="col-md-12">

      			<h2>Aplicar a la Convocatoria</h2>


      		</div>
      		

      	</div>	

      </div>

      <div class="main_admin">

      	<form [formGroup]="convocatoriaForm" (ngSubmit)="save(convocatoriaForm)" novalidate autocomplete="off">

	      	<div class="row">

				
				<div class="col-md-6 form-group">
					<label for="precio">Precio</label>
					<input id="precio" type="text" formControlName="precio" class="form-control" placeholder="Precio ofertado">
				</div>

				<div class="col-md-6 form-group">
					<label for="cantidad">Cantidad a ofertar</label>
					<input id="cantidad" type="text" formControlName="cantidad" value="Cantidad">
				</div>

			</div>

			<div class="row">

				
				<div class="col-md-6 form-group">
					
				        <label for="ciudadEntrega">Ciudad de entrega</label>
				        <select class="form-control" formControlName="ciudadEntrega"
				          placeholder="Escoja la ciudad">
				          <option *ngFor="let ciudad of ciudades_orden">{{ciudad}}</option>
				        </select>
				     
				</div>

				<div class="col-md-6 form-group">
					<label for="tiempoEntrega">Tiempo de entrega, solamente entrega única </label>
					<input id="tiempoEntrega" type="text" formControlName="tiempoEntrega" value="(ej.: 15 días)">
				</div>

			</div>

			<div class="row">

				
				<div class="col-md-6 form-group">
									

						<label for="soporteFile">Archivos de soporte</label>
					        <div class="custom-file">
					          <input type="file" class="custom-file-input" id="soporteFile" formControlName="soporteFile">
					          <label class="custom-file-label" #labelUpload for="soporteFile">Seleccionar Archivo...</label>
					        </div>

				</div>



			</div>

			<div class="row">

				
				<div class="col-md-6">
					<button type="submit" class="btn btn-success btn-lg form-submit-button btn_guardar">Enviar</button>
				</div>

				

			</div>






	    </form>

      </div>	

