@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "WorkSans";
    src: url("../assets/fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "WorkSans";
    src: url("../assets/fonts/WorkSans-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "WorkSans";
    src: url("../assets/fonts/WorkSans-Bold.ttf");
    font-weight: bold;
}
