<div class="admin">
    <div class="header">
        <nav class="navbar navbar-expand-md mb-3">
            <div class="container-fluid">
                <a href="#" class="navbar-brand mr-3">
                    <img src="assets/imgs/logo.png" height="50" class="d-inline-block align-middle" alt="">
                </a>
                <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                    &#9776;
                </button>
                <div class="navbar-nav ml-auto">
                    <a routerLink="/" class="nav-item nav-link">Salir</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row no-gutters content">
        <div class="col-md-2 menu">


            <!-- Step 2: Add the ngbCollapse directive to the element below. -->
            <div [ngbCollapse]="!isMenuCollapsed" class="collapse navbar-collapse">
                <ul class="nav flex-column">

                    <li routerLink="/admin/registro" routerLinkActive="active" (click)="isMenuCollapsed = true"
                        class="nav-item py-3">
                        <a class="nav-link">Registro</a>
                    </li>
                    <li routerLink="/admin/empresas" routerLinkActive="active" (click)="isMenuCollapsed = true"
                        class="nav-item py-3">
                        <a class="nav-link">Empresas</a>
                    </li>
                    <li routerLink="/admin/convocatorias" routerLinkActive="active" class="nav-item py-3"
                        (click)="isMenuCollapsed = true">
                        <a class="nav-link featured">Convocatorias</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>