   

   <div class="bg2">

         <a class="link_productos" href="assets/pdf/Lista de elementos de proteccion.pdf" target="_blank"> ver productos </a>

        <div class="container d-flex">
            <div class="col-md-5 align-self-center">

                <h3 class="font-weight-normal mt-n5 mb-n1">Convocatoria</h3>
                <h2 class="display-4 font-weight-bold mb-4">Pública</h2>
                <p class="text-justify mb-5">La protección del Personal de Salud es nuestra prioridad!<br>
                    El Gobierno Nacional, a través del Fondo Nacional de Gestión del
    Riesgo de Desastres, se encuentra adelantando la convocatoria de
    proveedores para la adquisición de elementos de protección personal
    para el sector salud.
                </p>
                <button routerLink="/registro" class="btn btn-success btn-lg m-auto mb-2">REGÍSTRATE</button>
            </div>
            
        </div>
    </div>

