<app-header-admin></app-header-admin>

<div class="container-fluid">
  <div class="row">
    

  	<nav class="col-md-2 d-none d-md-block bg-light sidebar">
	    <app-menu-admin></app-menu-admin>
	</nav>



    <main role="main" class="col-md-9 ml-sm-auto col-lg-10">



      <div class="buscador">

      	<div class="row">

      		<div class="col-md-6">

      			<input class="search" type="text" placeholder="Buscar">



      		</div>
      		<div class="col-md-2">

      			

      		</div>	
      		<div class="col-md-4">

      			<nav class="paginador">
				  <ul class="pagination justify-content-end">
				    <li>
				      Pagina
				    </li>
				    <li><input type="text" value="1"></li>
				    <li>
				      de 10
				    </li>
				     <li><a href="#"><i class="fa fa-caret-left" aria-hidden="true"></i></a></li>
				    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
				  </ul>
				</nav>


      		</div>	


      	</div>	

      </div>	

      
      
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Fecha de <br> finalización <i class="fa fa-filter" aria-hidden="true"></i></th>
              <th>Tipo de <br> contrato <i class="fa fa-filter" aria-hidden="true"></i></th>
              <th>Forma<br>  de pago <i class="fa fa-filter" aria-hidden="true"></i></th>
              <th>Plazo de <br> Ejecución <i class="fa fa-filter" aria-hidden="true"></i></th>
              <th>Periodo <br> de Entrega <i class="fa fa-filter" aria-hidden="true"></i></th>
              <th>Riesgos <br> a Asegurar <i class="fa fa-filter" aria-hidden="true"></i></th>
              <th>Lugar <br> de Entrega <i class="fa fa-filter" aria-hidden="true"></i></th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

            <tr>

             <td>Tapaboas N95</td>
              
              <td>11/04/2020</td>
              <td>Ordinario</td>
              <td>Cheque</td>
              <td>10/05/2020</td>
 
              <td>Anticipado</td>
              <td>Punto de acopio</td>

              <td><a href="#" class="btn_varmas">Aplicar</a></td>


            </tr>

          </tbody>
        </table>
      </div>



    </main>
  </div>
</div>


