<app-top></app-top>

<div class="home_main">

	<div class="container">

		<div class="row">

			<div class="col-md-5">
				<h2>Convocatoria<br>
				<span>Nacional</span></h2>

				ElGobierno Nacional a través de la Unidad Nacional de Gestión de Riegos y Desastres (UNGRD) está contratando proveedores para la adquisición de un gran volumen de 9 elementos prioritarios de protección (EPP) médica identificadas previamente.<br><br>

				<a  routerLink="/registro1" class="btn btn_registro" href>
					Registrate
				</a>	



			</div>
			<div class="col-md-7">


				<img src="/assets/images/home.png" class="img-fluid d-sm-none">

				

			</div>

		</div>	


	</div>

</div>

<app-footer></app-footer>

